html, body {
    margin: 0;
    padding: 0;
}
body {
    
    display: flex;
    justify-content: center;
    
}

.wrapper {
    width: 100%;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
    
}
.menu {
    width: 10%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 1px black;
    
}

.menu li {
    list-style-type: none;
    
}
.header {
    background-image: url(img/avengers.jpg);
    opacity: 50%;
    min-height: 170px;
    
}

h1 {
    text-align: center;
}

.content {
    background-color: #060047;
   
    
    min-height: 300px;
    padding: 20px;
}

.titulo-principal {
    text-align: center;
    color: #050103;
}
.text-principal {
    color: #E90064;
    text-align: center;
}
.footer {
    background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	
    
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: black;
	text-decoration: none;
}


